#first-div{
background-color: darkblue;
font-size: 45px;
font-family:Brush Script MT, Brush Script Std, cursive;
text-align: left;
text-decoration: dotted;
width:100%;
height:25%;
color:rgba(235, 216, 47, 0.979);

}
#image-formating{
    float: right;
   height: 180px;
    width: 150px;
}


#headings-formating{
    font-size: 35px;
    text-align: center;
    background-color:darkblue;
    color: rgba(235, 216, 47, 0.979);
    font-family:Brush Script MT, Brush Script Std, cursive; 
    margin-top: 0;
    padding:0;
    
}
#details-images-formating{
   text-align: center;
    height:20px;
    
    
}
#mail-link{
    float: right;
}
#details-div{

text-align: center;
}

p{
    text-align: center;
    color: azure;
}
ul{
    display: table;
    margin:auto;
    color: azure;
    
}
body{
    background-color: rgba(230, 102, 18, 0.979);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    border-color: darkblue;
    margin-top: 35px;
    margin-bottom: 35px;
    height:20%;
}

#table-first-th-styling{
    background-color: darkblue;
    color: rgba(235, 216, 47, 0.979);
    border-color: darkblue;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 22px;
    
    
}
#table-other-th-styling{
    background-color:rgba(235, 216, 47, 0.979) ;
    color:azure ;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 22px;
    font-weight: bold;
}
